body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #34b4eb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1c8ac9;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

table td, table th {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    font-size: 18px;
    text-align: left;
}

#no-data {
    display: none;
    font-size: 24px;
    font-weight: bold;
}